html,
body {
  margin: 0;
  height: 100%;
}
*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  box-shadow: 0px 4px 5px 5px rgba(186, 186, 186, 1);
  width: 20em;
  padding: 2rem 1rem 0 1rem;
  text-align: center;
}
h1 {
  color: green;
  font-size: 5em;
  font-weight: 450;
  margin-left: 15px;
}

.login {
  background-color: green;
  color: white;
  padding: 5px;
  margin: 1em;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
}
.login:hover {
  background-color: lightgreen;
  color: white;
  padding: 5px;
  margin: 1em;
  padding: 5px 15px;
  border-radius: 3px;
}

.register {
  color: green;
  text-decoration: none;
  font-family: strong;
  margin-right: 8em;
}
.register:hover {
  color: lightgreen;

}
.register {
  color: green;
  text-decoration: none;
  font-family: strong;
  margin-right: 8em;
}

.isValid {
  visibility: hidden;
}

 .input-green {
  border: none;
  cursor: pointer;
  border-bottom: 2px solid green;
  margin: 0.5em;
}
 .input-green:focus {
  outline: none;
}
.input-red {
  border: none;
  cursor: pointer;
  border-bottom: 2px solid red;
  margin: 0.5em;

}
.input-red:focus {
 outline: none;
}

