.main-features
  display: flex
  justify-content: space-between
  margin: 5%

.card-primary-header,
.card-secondary-header
  margin: 0.5rem
  text-align: left

.card-copy
  display: flex
  flex-direction: column
  align-items: center

.card-secondary-header
  font-style: italic
  font-size: 15px
  color: darkgray

#card
  background-color: #181818


.card
    margin: 50px auto
    max-width: 350px
    text-align: center
    border-radius: 10px
    box-shadow: 10px 10px 30px #bdbdbd


.card-image
  border-radius: 10px 10px 0 0
  overflow: hidden
  max-height: 300px

  img
    width: 300px
    height: 280px


.card-copy
  padding: 20px
