.container
  width: 50em
  height: 6em
.icon
  display: flex
  justify-content: space-around
  align-items: center 
.btns
    display: flex
    justify-content: space-around
    align-items: center 
    width: 200px
